Implement Matrix 1.11 changes

Here is the [v1.11 changelog](https://spec.matrix.org/v1.11/changelog/) to follow our progress.

To be sure we don't miss anything, ALL entries of the changelog (except the section about internal changes) should appear here in the same order and category. The ones that we have to implement should be linked to an issue and/or a PR or commit in this repository. If an extra step is necessary when the version is released (like moving it from an unstable feature flag), a subtask should be created. The ones that don't impact us should be struck. The "contributed by"s should be removed to avoid pinging users.

## 1.1 Client-Server API

### Deprecations

- [x] Authentication using a query string is now deprecated, as per [MSC4126](https://github.com/matrix-org/matrix-spec-proposals/issues/4126). The `Authorization` header should be used instead. ([#1808](https://github.com/matrix-org/matrix-spec/issues/1808)) #1854
- [x] Use of the `/_matrix/media/*` endpoints is now deprecated. New, authenticated, endpoints are available instead. ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1856

### New Endpoints

- [x] [GET /_matrix/client/v1/media/thumbnail/{serverName}/{mediaId}](https://spec.matrix.org/unstable/client-server-api/#get_matrixclientv1mediathumbnailservernamemediaid) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815
- [x] [GET /_matrix/client/v1/media/download/{serverName}/{mediaId}](https://spec.matrix.org/unstable/client-server-api/#get_matrixclientv1mediadownloadservernamemediaid) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815
- [x] [GET /_matrix/client/v1/media/download/{serverName}/{mediaId}/{fileName}](https://spec.matrix.org/unstable/client-server-api/#get_matrixclientv1mediadownloadservernamemediaidfilename) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815
- [x] [GET /_matrix/client/v1/media/config](https://spec.matrix.org/unstable/client-server-api/#get_matrixclientv1mediaconfig) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815
- [x] [GET /_matrix/client/v1/media/preview_url](https://spec.matrix.org/unstable/client-server-api/#get_matrixclientv1mediapreview_url) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815


### Backwards Compatible Changes

- [x] Add support for muting in VoIP calls, as per [MSC3291](https://github.com/matrix-org/matrix-spec-proposals/pull/3291). ([#1755](https://github.com/matrix-org/matrix-spec/issues/1755)) #1781
  - [x] Move out of `unstable-msc3291` #1858
- [x] Add optional `animated` query string option to `GET /_matrix/media/v3/thumbnail`, as per [MSC2705](https://github.com/matrix-org/matrix-spec-proposals/pull/2705). ([#1757](https://github.com/matrix-org/matrix-spec/issues/1757)) #1780
  - [x] Move out of `unstable-msc2705` #1859
- [x] Specify terms of services at registration, as per [MSC1692](https://github.com/matrix-org/matrix-spec-proposals/pull/1692). ([#1812](https://github.com/matrix-org/matrix-spec/issues/1812)) #1861
- [x] Add support for mathematical messages, as per [MSC2191](https://github.com/matrix-org/matrix-spec-proposals/pull/2191). ([#1816](https://github.com/matrix-org/matrix-spec/issues/1816)) #1860
- [x] ~~Do not require UIA when first uploading cross-signing keys, as per [MSC3967](https://github.com/matrix-org/matrix-spec-proposals/pull/3967). ([#1828](https://github.com/matrix-org/matrix-spec/issues/1828))~~
- [x] ~~Add the new unsigned.membership property to events served over the client-server API, as per [MSC4115](https://github.com/matrix-org/matrix-spec-proposals/pull/4115). ([#1847](https://github.com/matrix-org/matrix-spec/issues/1847))~~
- [x] Media downloads and thumbnails are now authenticated, as per [MSC3916](https://github.com/matrix-org/matrix-spec-proposals/pull/3916). ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815
  - [x] Move out of `unstable-msc3916` #1855
- [x] Some media endpoints are now consistently under `/_matrix/client/{version}/media/*` instead of `/_matrix/media/*`, as per [MSC3916](https://github.com/matrix-org/matrix-spec-proposals/pull/3916). ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858)) #1815

### Spec Clarifications

- [x] Add `/logout` and clarify the endpoints which do not take a JSON request body. ([#1644](https://github.com/matrix-org/matrix-spec/issues/1644)) #1863
- [x] ~~Fix the OpenAPI definition of the security schemes. ([#1772](https://github.com/matrix-org/matrix-spec/issues/1772))~~
- [x] ~~Clarify that the type of the `POST /login request` must be one of the types returned by the `GET /login` response. ([#1776](https://github.com/matrix-org/matrix-spec/issues/1776))~~
- [x] ~~Use `patternProperties` in more places with supported formats. ([#1813](https://github.com/matrix-org/matrix-spec/issues/1813))~~
- [x] ~~Rename “recovery key” to “backup decryption key”. ([#1819](https://github.com/matrix-org/matrix-spec/issues/1819))~~
- [x] ~~Clarify that the device’s Ed25519 signing key should be used in QR code verification (as opposed to the device’s Curve25519 identity key). ([#1829](https://github.com/matrix-org/matrix-spec/issues/1829))~~
- [x] ~~Fix various typos throughout the specification. ([#1832](https://github.com/matrix-org/matrix-spec/issues/1832), [#1841](https://github.com/matrix-org/matrix-spec/issues/1841), [#1852](https://github.com/matrix-org/matrix-spec/issues/1852), [#1853](https://github.com/matrix-org/matrix-spec/issues/1853))~~
- [x] ~~Specify the encoding to be used when generating QR codes for device verification. ([#1839](https://github.com/matrix-org/matrix-spec/issues/1839))~~
- [x] Clarify that an access token is optional on the `POST /account/password` and `POST /account/deactivate` endpoints. ([#1843](https://github.com/matrix-org/matrix-spec/issues/1843)) #1835
- [x] ~~Use RFC 2119 keywords more consistently. ([#1846](https://github.com/matrix-org/matrix-spec/issues/1846), [#1861](https://github.com/matrix-org/matrix-spec/issues/1861))~~
- [x] ~~Move size limits for user, room and event IDs into the appendix and clarify that the length is to be measured in bytes. ([#1850](https://github.com/matrix-org/matrix-spec/issues/1850))~~
- [x] ~~Clarify that relations recursion should be capped at a certain depth. ([#1854](https://github.com/matrix-org/matrix-spec/issues/1854))~~
- [x] ~~Add missing secrets, third-party invites and room tagging modules to feature profiles table. ([#1860](https://github.com/matrix-org/matrix-spec/issues/1860))~~
- [x] ~~Clarify when server name is used and link to the definition. ([#1862](https://github.com/matrix-org/matrix-spec/issues/1862))~~
- [x] ~~Minor clarifications to the “end-to-end encryption” module. ([#1863](https://github.com/matrix-org/matrix-spec/issues/1863))~~
- [x] ~~Clarify that /media/v3/upload/{serverName}/{mediaId} requires authentication. ([#1872](https://github.com/matrix-org/matrix-spec/issues/1872))~~


## 1.2 Server-Server API

### Deprecations

- [x] Use of the Client-Server API `/_matrix/media/*` endpoints is now deprecated. New, authenticated, endpoints are available instead. ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858))

### New Endpoints

- [x] [GET /_matrix/federation/v1/media/thumbnail/{mediaId}](https://spec.matrix.org/unstable/server-server-api/#get_matrixfederationv1mediathumbnailmediaid) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858))
- [x] [GET /_matrix/federation/v1/media/download/{mediaId}](https://spec.matrix.org/unstable/server-server-api/#get_matrixfederationv1mediadownloadmediaid) ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858))

### Backwards Compatible Changes

- [x] Media downloads and thumbnails are now authenticated, as per [MSC3916](https://github.com/matrix-org/matrix-spec-proposals/pull/3916). ([#1858](https://github.com/matrix-org/matrix-spec/issues/1858), [#1869](https://github.com/matrix-org/matrix-spec/issues/1869)) #1841

### Spec Clarifications

- [x] ~~Link to existing grammar where possible in types. ([#1813](https://github.com/matrix-org/matrix-spec/issues/1813))~~
- [x] Clarify that whitespace around commas is allowed in the `X-Matrix` `Authorization` header value params list. ([#1818](https://github.com/matrix-org/matrix-spec/issues/1818)) #1801 #1805
- [x] ~~Clarify that the `event` field of the `/v2/send_join` response is only required when `join_authorised_via_users_server` was present in the `content` field of the request. ([#1834](https://github.com/matrix-org/matrix-spec/issues/1834), [#1840](https://github.com/matrix-org/matrix-spec/issues/1840))~~
- [x] ~~Replace references to RFC 7235 and RFC 7230 that are obsoleted by RFC 9110. ([#1844](https://github.com/matrix-org/matrix-spec/issues/1844))~~
- [x] ~~Fix various typos throughout the specification. ([#1877](https://github.com/matrix-org/matrix-spec/issues/1877))~~

## 1.3 Application Service API

### Spec Clarifications

- [x] ~~Clarify that appservices should be notified of events relating to the `sender_localpart` user. ([#1810](https://github.com/matrix-org/matrix-spec/issues/1810))~~

## 1.4 Identity Service API

### Deprecations

- [x] Authentication using a query string is now deprecated, as per [MSC4126](https://github.com/matrix-org/matrix-spec-proposals/issues/4126). The `Authorization` header should be used instead. ([#1808](https://github.com/matrix-org/matrix-spec/issues/1808)) #1854

## 1.5 Push Gateway API

No significant changes.

## 1.6 Room Versions

### Spec Clarifications

- [x] ~~Clarify that redaction events are still subject to all applicable auth rules. ([#1824](https://github.com/matrix-org/matrix-spec/issues/1824))~~
- [x] ~~Fix various typos throughout the specification. ([#1827](https://github.com/matrix-org/matrix-spec/issues/1827), [#1848](https://github.com/matrix-org/matrix-spec/issues/1848))~~
- [x] ~~Fix the rendering of the event format for room versions 1 and 2. ([#1883](https://github.com/matrix-org/matrix-spec/issues/1883))~~
- [x] ~~Generate the Table of Contents with Hugo rather than JavaScript. ([#1884](https://github.com/matrix-org/matrix-spec/issues/1884))~~

## 1.7 Appendices

### Deprecations

- [x] Deprecate linking to events in rooms identified by alias, as per [MSC4132](https://github.com/matrix-org/matrix-spec-proposals/pull/4132). ([#1823](https://github.com/matrix-org/matrix-spec/issues/1823)) #1862

### Spec Clarifications

- [x] ~~Define ‘Opaque Identifier Grammar’. ([#1791](https://github.com/matrix-org/matrix-spec/issues/1791))~~
- [x] ~~Define common cryptographic key representation. ([#1819](https://github.com/matrix-org/matrix-spec/issues/1819))~~
- [x] ~~Move size limits for user, room and event IDs into the appendix and clarify that the length is to be measured in bytes. ([#1850](https://github.com/matrix-org/matrix-spec/issues/1850))~~

All done!