Provide a type for the `Content-Disposition` HTTP header.

It seems that there is no nice way or barely any existing crate to construct or parse the `Content-Disposition` HTTP header. It is used by the Matrix specification with the content repository, but it is not that easy to build or parse due to the limitations around the `filename` needing to use only characters in the ISO-8859-1 character set.

This HTTP header is defined in [RFC 6266](https://datatracker.ietf.org/doc/html/rfc6266), and allows to encode UTF-8 characters via [RFC 8187](https://datatracker.ietf.org/doc/html/rfc8187) (previously [RFC 5987](https://datatracker.ietf.org/doc/html/rfc5987)), which is basically using a special parameter and percent-encoding the filename. See also the [MDN Docs](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Disposition).

Existing Rust implementations:
- [actix_web::http::header::ContentDisposition](https://docs.rs/actix-web/4.8.0/actix_web/http/header/struct.ContentDisposition.html)
- [Some code commented in the headers crate](https://github.com/hyperium/headers/blob/0fbde12f1178123bdcb23e8b4a1545eec5aabf53/src/common/content_disposition.rs#L113-L326), the current public implementation only handles the disposition type.

Maybe a better solution would be to fix the implementation in the headers crate, but it might take more time for the PR to be accepted and included in a release. 

There is an issue on the headers repository about this: https://github.com/hyperium/headers/issues/8